<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A_rise</key>
    <array>
      <string>A</string>
      <string>uni041B</string>
      <string>Lambda</string>
    </array>
    <key>public.kern1.F_arm</key>
    <array>
      <string>F</string>
      <string>P</string>
    </array>
    <key>public.kern1.L_low</key>
    <array>
      <string>L</string>
    </array>
    <key>public.kern1.T_arm</key>
    <array>
      <string>T</string>
      <string>uni0422</string>
      <string>Tau</string>
    </array>
    <key>public.kern1.V_open</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>uni0423</string>
    </array>
    <key>public.kern1.Y_open</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern1.dot</key>
    <array>
      <string>period</string>
      <string>comma</string>
    </array>
    <key>public.kern1.quote</key>
    <array>
      <string>quoteright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.r_arm</key>
    <array>
      <string>r</string>
    </array>
    <key>public.kern1.round_lc</key>
    <array>
      <string>o</string>
      <string>c</string>
      <string>e</string>
      <string>d</string>
      <string>q</string>
      <string>g</string>
      <string>a</string>
      <string>uni043E</string>
      <string>uni0441</string>
      <string>uni0435</string>
      <string>omicron</string>
      <string>sigma</string>
      <string>alpha</string>
      <string>epsilon</string>
    </array>
    <key>public.kern1.round_uc</key>
    <array>
      <string>O</string>
      <string>C</string>
      <string>G</string>
      <string>Q</string>
      <string>uni041E</string>
      <string>uni0421</string>
      <string>Omicron</string>
    </array>
    <key>public.kern2.A_rise</key>
    <array>
      <string>A</string>
      <string>uni041B</string>
      <string>Lambda</string>
    </array>
    <key>public.kern2.F_arm</key>
    <array>
      <string>F</string>
      <string>P</string>
    </array>
    <key>public.kern2.L_low</key>
    <array>
      <string>L</string>
    </array>
    <key>public.kern2.T_arm</key>
    <array>
      <string>T</string>
      <string>uni0422</string>
      <string>Tau</string>
    </array>
    <key>public.kern2.V_open</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>uni0423</string>
    </array>
    <key>public.kern2.Y_open</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern2.dot</key>
    <array>
      <string>period</string>
      <string>comma</string>
    </array>
    <key>public.kern2.quote</key>
    <array>
      <string>quoteright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.r_arm</key>
    <array>
      <string>r</string>
    </array>
    <key>public.kern2.round_lc</key>
    <array>
      <string>o</string>
      <string>c</string>
      <string>e</string>
      <string>d</string>
      <string>q</string>
      <string>g</string>
      <string>a</string>
      <string>uni043E</string>
      <string>uni0441</string>
      <string>uni0435</string>
      <string>omicron</string>
      <string>sigma</string>
      <string>alpha</string>
      <string>epsilon</string>
    </array>
    <key>public.kern2.round_uc</key>
    <array>
      <string>O</string>
      <string>C</string>
      <string>G</string>
      <string>Q</string>
      <string>uni041E</string>
      <string>uni0421</string>
      <string>Omicron</string>
    </array>
  </dict>
</plist>
