<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A_rise</key>
    <dict>
      <key>public.kern2.T_arm</key>
      <integer>-122</integer>
      <key>public.kern2.V_open</key>
      <integer>-163</integer>
      <key>public.kern2.Y_open</key>
      <integer>-163</integer>
    </dict>
    <key>public.kern1.F_arm</key>
    <dict>
      <key>public.kern2.dot</key>
      <integer>-95</integer>
      <key>public.kern2.round_lc</key>
      <integer>-95</integer>
    </dict>
    <key>public.kern1.L_low</key>
    <dict>
      <key>public.kern2.T_arm</key>
      <integer>-149</integer>
      <key>public.kern2.V_open</key>
      <integer>-149</integer>
      <key>public.kern2.Y_open</key>
      <integer>-149</integer>
    </dict>
    <key>public.kern1.T_arm</key>
    <dict>
      <key>public.kern2.A_rise</key>
      <integer>-122</integer>
      <key>public.kern2.round_lc</key>
      <integer>-108</integer>
    </dict>
    <key>public.kern1.V_open</key>
    <dict>
      <key>public.kern2.A_rise</key>
      <integer>-163</integer>
      <key>public.kern2.round_lc</key>
      <integer>-95</integer>
    </dict>
    <key>public.kern1.Y_open</key>
    <dict>
      <key>public.kern2.A_rise</key>
      <integer>-163</integer>
      <key>public.kern2.round_lc</key>
      <integer>-95</integer>
    </dict>
    <key>public.kern1.quote</key>
    <dict>
      <key>public.kern2.round_lc</key>
      <integer>-95</integer>
    </dict>
    <key>public.kern1.r_arm</key>
    <dict>
      <key>public.kern2.dot</key>
      <integer>-149</integer>
    </dict>
  </dict>
</plist>
